<div class="grid-container">
  <div class="top-info"></div>
  <div class="current-slide-container">
    <div class="slide"></div>
    <div class="navigation-bar">
      <button mat-fab color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div class="spacer"></div>
      <button mat-fab color="primary">
        <mat-icon>mic</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </div>
  </div>

  <div class="control-panel-container">
    <div class="control-panel"></div>
  </div>

  <div class="next-slide-container">
      <div class="slide"></div>
      <h2>NEXT</h2>
  </div>
  <div class="amphi-title">
    <div class="spacer"></div>
    <h2>AMPHI <sup class="copyright">©</sup></h2>
    <h1>TITRE DU COURS</h1>
  </div>
</div>
