<div class="grid-container" (keypress)="onKeypressEvent($event)">
  <div class="top-bar">
    <a href="https://pl.u-pem.fr/activity/play/0/" target="_blank" rel="noopener noreferrer">
      <div class="logo-box">
        <img class="logo" src="../../assets/platon_logo_black.png">
      </div>
    </a>
  </div>

  <div class="top-info">
    <div class="center">
      <span class="center participants">
        <mat-icon>people</mat-icon> 47
      </span>
      <div class="spacer"></div>
      <span class="seconds"> {{ currentSeconds }} </span>
      <span> {{ currentTime }} </span>

      <button class="exit" mat-icon-button color="warn" (click)="openDialog()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </div>

  <div class="amphi-title">
    <div class="spacer"></div>
    <h2>AMPHI <sup class="copyright">©</sup></h2>
    <h1>TITRE DU COURS</h1>
  </div>

  <div class="current-slide-container">
    <div class="spacer"></div>

    <img class="slide" src="../../assets/blank-slide.png">
    <div class="navigation-bar">
      <button mat-fab color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div class="spacer"></div>
      <button mat-fab color="primary">
        <mat-icon>mic</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

  <div class="next-slide-container">
    <img class="slide" src="../../assets/blank-slide.png">
    <h2>NEXT</h2>
  </div>

  <div class="control-panel-container">
    <div id="control-panel" [ngClass]="controlPanelHidden ? 'hide-panel' : ''">
      <div class="title-bar">
        <div class="spacer"></div>
        <ng-container *ngIf="controlPanelHidden; then showIcon else hideIcon"></ng-container>
        <ng-template #hideIcon>
          <mat-icon (click)="toggleControlPanel()">
            keyboard_arrow_down
          </mat-icon>
        </ng-template>
        <ng-template #showIcon>
          <mat-icon (click)="toggleControlPanel()">
            keyboard_arrow_up
          </mat-icon>
        </ng-template>
      </div>

      <div class="panel">
        <mat-tab-group [selectedIndex]="2">

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>chat</mat-icon>
            </ng-template>
            <h1 class="white"> Conversation </h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>play_circle_outline</mat-icon>
            </ng-template>
            <h1>Vos<span class="white"> exercices </span></h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>home</mat-icon>
            </ng-template>
            <h1>Bonjour, M. <span class="white">{{ profName }}</span>.</h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>info</mat-icon>
            </ng-template>
            <h1 class="white"> A propos </h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>settings</mat-icon>
            </ng-template>
            <h1 class="white"> Paramètres </h1>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
