
<div style="background-color: #a880ff; height: 50px; width: 100%;">
  <h2 style="padding-top: 10px;"> Amphi </h2>
</div>

<div class="container">
  <!-- CURRENT SLIDE / EXERCICE -->
  <ng-container *ngIf="selection == null; then currentSlide else afficheExo"></ng-container>
  <ng-template #currentSlide>
    <div class="section">
      <h2> {{ slides[index].title + " " + index }} </h2>
      <p> {{ slides[index].contenu }} </p>
    </div>
  </ng-template>
  <ng-template #currentSlideDark>
    <div class="section" style="background-color: rgba(255, 255, 255, 0.2); color: rgba(255,255,255,0.5);">
      <h2> {{ slides[index].title + " " + index }} </h2>
      <p> {{ slides[index].contenu }} </p>
    </div>
  </ng-template>

  <ng-template #afficheExo>
    <div class="section">
      <ng-container *ngIf="selection">
        <div class="line">
          <h3> {{ selection.name }}
            <span style="color: rgba(255, 255, 255, 0.6); float: right;"> {{ selection.type }} </span>
          </h3>
        </div>
        <h2> {{ selection.question }} </h2>
      </ng-container>
    </div>
  </ng-template>

  <!-- NEXT SLIDE -->
  <ng-container *ngIf="(0 <= index && index < slides.length-1); else finPresentation">
    <ng-container *ngIf="selection == null; else currentSlideDark">
      <div class="section" style="background-color: rgba(255, 255, 255, 0.2); color: rgba(255,255,255,0.5);">
        <h2> {{ slides[index+1].title + " " + (index+1) }} </h2>
        <p> {{ slides[index+1].contenu }} </p>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #finPresentation>
    <div class="blank">
      <div class="line" style="height: 40%;"> </div>
      <h2> FIN DE LA PRESENTATION </h2>
    </div>
  </ng-template>

  <!-- CURRENT EXERCICE STATS -->
  <ng-container *ngIf="selection != null; else aucunExo">
    <div class="section" style="background-color: white;">
      <app-chart [exercice]= selection></app-chart>
    </div>
  </ng-container>
  <ng-template #aucunExo>
    <div class="blank">
      <div class="line" style="height: 40%;"> </div>
      <h2> AUCUN EXERCICE EN COURS </h2>
    </div>
  </ng-template>

  <!-- CONTROLLER -->
  <div class="section">
    <ng-container *ngIf="selection == null; else backToSlides">
      <div class="line">
        <!-- bouton gauche -->
        <ng-container *ngIf="(index > 0)">
          <button mat-mini-fab color="basic" (click)="prevSlide()" style="float: left;">
            <i class="material-icons"> chevron_left </i>
          </button>
        </ng-container>
        <!-- bouton droite -->
        <ng-container *ngIf="(index < slides.length -1)">
          <button mat-mini-fab color="basic" (click)="nextSlide()" style="float: right;">
            <i class="material-icons"> chevron_right </i>
          </button>
        </ng-container>
      </div>
      <!-- exos -->
      <ng-container *ngFor="let exercice of exercices">
        <app-exercice [exercice]= exercice (click)="displayExercice(exercice)"></app-exercice>
      </ng-container>
    </ng-container>

    <ng-template #backToSlides>
      <div class="line" style="float: left;">
        <button mat-mini-fab color="warn" (click)="selection = null" style="float: left;">
          <i class="material-icons"> close </i>
        </button>
        <p> Retour à la présentation </p>
      </div>
    </ng-template>
  </div>
</div>
