/* titles */
h1 {
  font-size: 40pt;
  text-align: center; font-weight: bold;
  background: -webkit-linear-gradient(rgba(250, 120, 150), rgba(200, 60, 200));

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 25pt;
  text-align: center;
  font-variant: small-caps;
}

div.container {
  width: 100%;
  padding-top: 50px;

  div.section {
    text-align: center;
    //box-shadow: 10px 10px 0px rgba($color: #000000, $alpha: 0.25);
    border: solid rgba(255, 255, 255, 0.75) 0px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 20px;
    width: 44%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    height: 250px;

    div { border: solid white px; }

    div.line {
      width: 100%;
      margin-bottom: 15px;
      div.class { vertical-align: middle; }
    }
  }

  div.blank {
    color: rgba(160, 160, 160, 0.5);
    border: solid rgba(0, 0, 0, 0) 0px;
    background-color: rgba(0, 0, 0, 0);

    padding: 20px;
    width: 44.25%;
    margin: 0.5% 5px 0.5% 5px;
    height: 340px;

  }
}

mat-tab-group {
  margin-bottom: 48px;
  color: white;
}
mat-radio-button { margin-right: 50px; }





