:root {
  --menu-height: calc(100% - 2 * (25pt) - var(--bottom-space) - var(--padding));
  --header-height: 30px;
  --bottom-space: 20px;
  --button-size: 40px;
  --padding: 20px;
}

/* flex */
.flex { display: flex; }
.spacer { flex: 1; }

/* layout */
.layout {
  overflow: auto;
  display: grid;
  margin-left: 1%;
  gap: 10px 10px;
  height: 98.5%;
  width: 98%;
}

.grid {
  grid-template-rows: 0.2fr 2fr 0.01fr 1.8fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
     "head head"
    "zone1 zone2"
    "zone5 zone4"
    "zone3 zone4";
}
.material {
  grid-template-rows: 0.25fr 1.5fr 0.25fr 0.25fr 1.75fr;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-areas:
     "head head"
    "zone1 zone2"
    "zone1 zone3"
    "zone1 zone5"
    "zone4 zone4";
}

.head {
  background-color: rgb(175, 150, 250);
  border-radius: 0px 0px 10px 10px;
  grid-area: head;
  padding: 10px;
}

.zone1, .zone2, .zone3, .zone4 {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.zone1 { grid-area: zone1; }
.zone2 { grid-area: zone2; }
.zone3 { grid-area: zone3; }
.zone4 { grid-area: zone4; }
.zone5 { grid-area: zone5; }
.vide { grid-area: vide; }

.slide { grid-area: slide; }
.next { grid-area: next; }
.controller { grid-area: controller; }
.menu { grid-area: menu; }

.interface-panel {
  // box-shadow: 10px 10px 0px rgba($color: #000000, $alpha: 0.25);
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box; // life saviour
  text-align: center;
  padding: var(--padding);
  border-radius: 10px;
  height: 100%;
  width: 100%;

  .menu {
    height: var(--menu-height);
    box-sizing: border-box;
    width: 100%;
  }
}
.exo-menu {
  //scrollbar-width: none;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  height: 100%;
  width: 60%;
  bottom: 0;
  overflow-y: scroll;
  direction: rtl;
  float: right;
  app-exercice { direction: ltr; }
}

.header {
  // margin: calc(-1 * var(--padding)) 0 0 calc(-1 * var(--padding));
  background-color: rgb(175, 150, 250, 0.75);
  box-sizing: border-box; // life saviour
  border-radius: 10px;
  min-width: 400px;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.menu-container {
  margin-left: 10%;
  width: 80%;
}
.stat-menu {
  margin-bottom: 20px;
  text-align: left;
  padding: 10px;
  width: 100%;
}

// material
mat-radio-button { margin: 10px; }
button { height: var(--button-size); }
mat-slider { float: right; }
