/* titles */
h1 {
  font-size: 40pt;
  text-align: center; font-weight: bold;
  background: -webkit-linear-gradient(rgba(250, 120, 150), rgba(200, 60, 200));

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 25pt;
  text-align: center;
  font-variant: small-caps;
  margin: 0;  // >:(
}

/* layout */
.grid-container {
  margin-left: 1%;
  width: 98%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "head head"
    "zone1 zone2"
    "zone3 zone4";
}

.head {
  grid-area: head;
  padding: 10px;
  background-color: rgb(175, 150, 250);
}
.zone1 { grid-area: zone1; }
.zone2 { grid-area: zone2; }
.zone3 { grid-area: zone3; }
.zone4 { grid-area: zone4; }

.interface-panel {
  box-sizing: border-box; // life saviour
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; // >:(
  height: 100%; // >:(
  // box-shadow: 10px 10px 0px rgba($color: #000000, $alpha: 0.25);
  padding: 20px;

  div.line {
    width: 100%;
    div.class { vertical-align: middle; }
  }

  /* utils */
  .bottom-space {
    margin-bottom: 20px;
  }
  .button-label {
    margin: 0px 15px 0px 15px;
    line-height: 40px;
  }
  .scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}
}

/* containers */
.menu-container {
  width: 80%;
  margin-left: 10%;
}
.stat-menu {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
}
.exo-menu {
  //scrollbar-width: none;
  direction: rtl;
  overflow-y: scroll;
  margin-left: 5%;
  width: 90%;
  height: 300px;
}

/* styles */
.disabled {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}
.blank {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0);
}
.dark {
  background-color: rgba(0, 0, 0, 0.15);
}

/* material */
mat-radio-button {
  margin: 10px;
}
button {
  height: 40px;
  color: rgba(0, 0, 0, 0.4);
}
mat-slider {
  float: right;
}



