<span class="layout" [ngClass]="gridLayout ? 'grid' : 'material'">
  <div class="head">
    <h2> Amphi </h2>
  </div>

  <!-- CURRENT SLIDE / EXERCICE -->
  <div class="zone1">
    <ng-container *ngIf="selection == null; then currentSlide else currentExo"></ng-container>

    <ng-template #currentSlide>
      <app-slide [slide]="slides[index]"></app-slide>
    </ng-template>

    <ng-template #currentExo>
      <ng-container *ngIf="displayStats; then afficheStats else afficheExo"></ng-container>
    </ng-template>

    <ng-template #afficheExo>
      <app-exercice [exercice]="selection" ></app-exercice>
    </ng-template>
  </div>

  <!-- NEXT SLIDE -->
  <div class="zone2">
    <ng-container *ngIf="(index >= slides.length-1); else presentation">
      <div class="interface-panel blank">
        <div class="center">
          <span class="center">
            <h2 > FIN DE LA PRESENTATION </h2>
            <button mat-stroked-button color="accent" (click)="openDialog()">
              Fermer l'activité
            </button>
          </span>
        </div>
      </div>
    </ng-container>

    <ng-template #presentation>
      <ng-container *ngIf="selection == null; else currentSlide">
        <app-slide [slide]="slides[index+1]" [class]="'disabled'"></app-slide>
      </ng-container>
    </ng-template>
  </div>

  <!-- CONTROLLER -->
  <div [ngClass]="gridLayout ? 'zone3' : 'zone4'">
    <div class="interface-panel">
      <ng-container *ngIf="selection == null; else backToSlides">
        <div class="line contained header">
          <!-- bouton gauche -->
          <div class="flex" style="position: relative;">
            <button [disabled]="(index <= 0)" mat-mini-fab color="basic" (click)="prevSlide()">
              <i class="material-icons"> chevron_left </i>
            </button>
            <span class="button-label" [ngClass]="(index <= 0) ? 'disabled' : ''">
              Slide précédente
            </span>
          </div>
          <!-- space -->
          <div class="spacer"></div>
          <!-- bouton droite -->
          <div class="flex">
            <span class="button-label" [ngClass]="(index >= slides.length -1) ? 'disabled' : ''">
              Slide suivante
            </span>
            <button [disabled]="(index >= slides.length -1)" mat-mini-fab color="basic" (click)="nextSlide()">
              <i class="material-icons"> chevron_right </i>
            </button>
          </div>
        </div>

        <div class="line contained bottom-space">
          <div class="spacer"></div>
          <h2 class="flex disabled"> Bienvenue, M. </h2>
          <div style="width: 5px;"></div>
          <h2 class="flex small-caps"> {{ prof_name }}</h2>
          <h2 class="flex disabled"> . </h2>
          <div class="spacer"></div>
        </div>

        <div class="line">
          <div class="spacer"></div>
          <h3 class="flex disabled"> Vos exercices </h3>
        </div>

        <div class="menu">
          <div>
            <i class="material-icons"> view_quilt </i>
            <mat-slide-toggle color="accent" [(ngModel)]="gridLayout"></mat-slide-toggle>
            <i class="material-icons"> view_module </i>
          </div>
          <div class="bottom">
            <button class="icon" mat-mini-fab color="accent" (click)="openDialog()">
              <i class="material-icons"> close </i>
            </button>
            <button class="icon" mat-mini-fab color="basic" style="margin-left: 10px;">
              <i class="material-icons"> settings </i>
            </button>
          </div>

          <div class="dark exo-menu">
            <ng-container *ngFor="let exercice of exercices">
              <app-exercice-button [exercice]="exercice" (click)="displayExercice(exercice)"></app-exercice-button>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <!-- boutton retour -->
      <ng-template #backToSlides>
        <div class="line">
          <div class="bottom-space">
            <button mat-mini-fab color="accent" (click)="selection = null">
              <i class="material-icons"> keyboard_return </i>
            </button>
            <span class="button-label">Retour à la présentation</span>
          </div>
        </div>

        <!-- kind select -->
        <div class="menu-container">
          <div class="dark stat-menu">
            <mat-radio-group *ngFor="let chartKind of kinds" [(ngModel)]="kind">
              <div class="line">
                <mat-radio-button (click)="updateKind(chartKind)" [value]="chartKind" [checked]="kind == chartKind">
                  {{ kindName(chartKind) }}
                </mat-radio-button>
                <ng-container *ngIf="chartKind == 1">
                  <mat-slider thumbLabel min="1" max="25" step="1" value="5" [disabled]="kind != 1" (input)="updateStep($event)"></mat-slider>
                </ng-container>
              </div>
            </mat-radio-group>
          </div>

          <!-- stats diffuseur -->
          <mat-slide-toggle color="accent" [(ngModel)]="displayStats">
            Diffuser les statistiques
          </mat-slide-toggle>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- CURRENT EXERCICE STATS -->
  <div [ngClass]="gridLayout ? 'zone4' : 'zone5'">
    <div class="interface-panel blank">
      <ng-container *ngIf="selection == null; then aucunExo else afficheStats"></ng-container>
      <ng-template #afficheStats>
        <app-chart-ngx [exercice]= "selection"></app-chart-ngx>
        <button class="float-left" mat-icon-button color="accent" (click)="refreshStats()">
          <i class="material-icons"> refresh </i>
        </button>
      </ng-template>
    </div>

    <ng-template #aucunExo>
      <div class="center">
        <h2 class="center"> AUCUN EXERCICE EN COURS </h2>
      </div>
    </ng-template>
  </div>
</span>
