<div class="chart-ngx-container">
  <ng-container *ngIf="chartService.kind == 2; then pie else bar"></ng-container>

  <ng-template #bar>
    <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="data()"
      [gradient]="true"
      [legend]="false"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [customColors]="customColors()"
      [xAxisLabel]="'Réponses'"
      [yAxisLabel]="'Nb. de réponses'"
      [barPadding]="0"

      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </ng-template>

  <ng-template #pie>
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="data()"
      [customColors]="customColors()"
      [tooltipDisabled]="true"

      (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>
  </ng-template>
</div>
