<div style="display: flex; overflow: hidden; height: 90%;">
  <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="data()"
    [gradient]="gradient"
    [legend]="showLegend"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="false"
    [showYAxisLabel]="showYAxisLabel"
    [customColors]="customColors()"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [barPadding]="0"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>

<button mat-icon-button color="accent" (click)="refresh()" style="float: left;">
  <i class="material-icons"> refresh </i>
</button>
